- type: job
  id: Seraphim
  name: job-seraphim
  icon: seraphim
  description: job-seraphim-desc
  playTimeTracker: JobSeraphims
  whitelisted: true
  requirements:
    # - !type:RoleTimeRequirement
    #   role: JobSeraphims
    #   time: 1
    - !type:SpeciesRequirement
      species:
      - Human
      - Dwarf
  startingGear: SeraphimGear
  supervisors: job-seraphim-supervisor
  canBeAntag: false
  special:
    - !type:AddComponentSpecial
      components:
        - type: Psyonics
          psy: 50
        - type: PsyonicsActionLight
        - type: PsyonicsActionSmoke
        - type: Bands
          band: Stalker
          bandIcon: seraphim
          bandProto: STSeraphimsBand
          bandRankId: 2
        - type: Access
          tags:
            - Seraphims
        - type: BlockTackingHolyItems
        - type: TeethPull
          teethProto: ToothStalker
          pullingItemTag: PliersStalker
          teethCount: 3
          initialTeeth: 3
        - type: NpcFactionMember
          factions:
          - BandsUnion
          - Seraphims

- type: startingGear
  id: SeraphimGear
  equipment:
    id: STSeraphimPDA
    neck: ClothingStalkerNeckTokenSeraphim
    shoes: STClothingShoesBootsSeraFilled
    legs: STClothingLegsSerafimPants
    torso: STClothingTorsoSerafimLittleChaos
    mask: STClothingMaskKufei
    gloves: STClothingHandsGlovesSera
    pocket1: STBoltBagFilled
    pocket2: GeigerCounter
    back: ClothingBackpackDuffelBlackStalker

- type: job
  id: SeraphimHead
  name: job-head-seraphim
  icon: seraphim_officer
  description: job-head-seraphim-desc
  playTimeTracker: JobHeadSeraphims
  whitelisted: true
  requirements:
    # - !type:RoleTimeRequirement
    #   role: JobHeadSeraphims
    #   time: 1
    - !type:SpeciesRequirement
      species:
      - Human
      - Dwarf
  startingGear: SeraphimHeadGear
  supervisors: job-seraphim-supervisor
  canBeAntag: false
  special:
    - !type:AddComponentSpecial
      components:
        - type: Psyonics
          psy: 75
        - type: PsyonicsActionLight
        - type: PsyonicsActionGrab
        - type: PsyonicsActionSmoke
        - type: Access
          tags:
            - Seraphims
            - SeraphimsHead
        - type: Bands
          band: Stalker
          bandIcon: seraphim_officer
          bandProto: STSeraphimsBand
          bandRankId: 2
        - type: BlockTackingHolyItems
        - type: TeethPull
          teethProto: ToothStalker
          pullingItemTag: PliersStalker
          teethCount: 3
          initialTeeth: 3
        - type: AutoImplant
          implants:
          - STSeraBombImplant
        - type: NpcFactionMember
          factions:
          - BandsUnion
          - Seraphims
        - type: STAnomalyTipsViewing
- type: startingGear
  id: SeraphimHeadGear
  equipment:
    id: STSeraphimPDA
    neck: ClothingStalkerNeckTokenSeraphim
    shoes: STClothingShoesBootsSeraFilled
    legs: STClothingLegsSerafimPants
    torso: STClothingTorsoSerafimFullReady
    mask: STClothingMaskKufei
    gloves: STClothingHandsGlovesSera
    pocket1: STBoltBagFilled
    pocket2: GeigerCounter
    back: ClothingBackpackDuffelBlackStalker
- type: stBand
  id: STSeraphimsBand
  name: Seraphims
  factionId: Seraphims
  maxMembers: 17
  managingRankId: 3
  hierarchy:
    1: Seraphim
    2: SeraphimHead
    3: SeraphimCherubim

- type: job
  id: SeraphimCherubim
  name: Херувим серафимов
  icon: seraphim_cherubim
  description: job-head-seraphim-desc
  playTimeTracker: JobCherubimSeraphims
  whitelisted: true
  requirements:
    # - !type:RoleTimeRequirement
    #   role: JobHeadSeraphims
    #   time: 1
    - !type:SpeciesRequirement
      species:
      - Human
      - Dwarf
  startingGear: SeraphimCherubimGear
  supervisors: job-seraphim-supervisor
  canBeAntag: false
  special:
    - !type:AddComponentSpecial
      components:
        - type: Psyonics
          psy: 100
        - type: PsyonicsActionLight
        - type: PsyonicsActionGrab
        - type: PsyonicsActionSmoke
        - type: PsyonicsActionShield
        - type: Access
          tags:
            - Seraphims
            - SeraphimsHead
        - type: Bands
          band: Stalker
          bandIcon: seraphim_cherubim
          bandProto: STSeraphimsBand
          bandRankId: 3
        - type: BlockTackingHolyItems
        - type: TeethPull
          teethProto: ToothStalker
          pullingItemTag: PliersStalker
          teethCount: 3
          initialTeeth: 3
        - type: AutoImplant
          implants:
          - STSeraBombImplant
        - type: NpcFactionMember
          factions:
          - BandsUnion
          - Seraphims
        - type: STAnomalyTipsViewing

- type: startingGear
  id: SeraphimCherubimGear
  equipment:
    id: STSeraphimPDA
    neck: ClothingStalkerNeckKulonSeraphim
    shoes: STClothingShoesBootsSeraFilled
    legs: STClothingLegsSerafimCherubimPants
    torso: STClothingTorsoSerafimCherubimFullReady
    gloves: STClothingHandsGlovesSera
    pocket1: STBoltBagFilled
    pocket2: GeigerCounter
