- type: job
  id: StalkerJaba
  name: Жаба
  icon: jaba
  description: Група спеціальних бандитів
  playTimeTracker: JobJaba
  whitelisted: true
  requirements:
    # - !type:RoleTimeRequirement
    #   role: JobJaba
    #   time: 1
    - !type:SpeciesRequirement
      species:
      - Human
      - Dwarf
  startingGear: JabaGear
  supervisors: Ви нікому не підкоряєтеся...
  special:
    - !type:AddComponentSpecial
      components:
      - type: Access
        tags:
          - Jaba
      - type: Bands
        band: Stalker
        bandIcon: jaba
      - type: BlockTackingHolyItems
      - type: TeethPull
        teethProto: ToothStalker
        pullingItemTag: PliersStalker
        teethCount: 3
        initialTeeth: 3

- type: startingGear
  id: JabaGear
  equipment:
    id: BandPDA
    belt: ClothingBeltStorageWaistbag
    torso: ClothingTorsoSweaterStalkerGreen
    legs: ClothingLegsJeansBlue
    shoes: ClothingShoesBootsFrogLeather
    outerClothing: ClothingOuterCoatBomber
    gloves: ClothingHandsGlovesJabs
